*.txt
!requirements.txt
!requirements-dev.txt
!requirements-prod.txt
*.sqlite3
*.bak
*.db
*.ini
*.conf
attendance/settings.py
.DS_Store
*.log
__pycache__
*.pid
.venv/
.venv-duxing/
.local/
.pytest_cache/
.coverage
htmlcov/
