<div class="well text-center">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <form role="form" action="class.html" method="get">
                <div class="form-group">
                    <label class="sr-only" for="name">Classcode:</label>
                    <input class="form-control text-center" type="text" maxlength="10" name="classcode" placeholder="请输入班级编码" required>
                </div>
                <button type="submit" class="btn btn-danger btn-block">前往班级 Let's GO!!</button>
            </form>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>