{% if request.user.is_authenticated %}
    <div class="page-header">
        <h2>班级列表({{ class_count }}) <a id="class-add" href="#">➕</a></h2>
    </div>
        {% for slices in class_list %}
            <div class="row">
            {% for class in slices %}
                <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a href="class.html?classcode={{ class.sharecode }}"><h3 class="panel-title">{{ class.classname }}</h3></a>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">班级人数: {{ class.student_set.all.count }}</li>
                        <li class="list-group-item">记录次数: {{ class.activity_set.all.count }}</li>
                        <li class="list-group-item">最近更新: {{ class.activity_set.all.0.time|date:"Y-m-d H:i" }}</li>
                    </ul>
                    <div class="panel-footer text-right">
                        <abbr title="将这个编码分享给你的朋友他们就可以进入你的班级了">{{ class.sharecode }}</small>
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    <div class="page-header">
        <h2>学期汇总 <small><a href="summary-last-term.html" target="_blank">👉上学期数据从此处进</a></small></h2><h6></h6>
    </div>

    {% if summary_tm|length > 0 %}

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div id="classbox0" class="btn-group" data-toggle="buttons">
            <button id="class_all" type="button" class="btn">所有</button>
        </div>
        <div id="classbox1" class="btn-group" data-toggle="buttons">
            {% for slices in class_list %}
            {% for class in slices %}
            <button id="class_{{ class.id }}" type="button" class="btn">{{ class.classname }}</button>
            {% endfor %}
            {% endfor %}
        </div>
    </div>


    <p></p>

    <div class="text-center">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th rowspan="2">学号</th>
                <th rowspan="2">姓名</th>
                <!--<th rowspan="2">性别</th>-->
                <th colspan="3">考勤</th>
                <th colspan="3">活动</th>
                <th rowspan="2">分数</th>
            </tr>
            <tr>
                <th>缺勤</th>
                <th>迟到</th>
                <th>请假</th>
                <th>班级</th>
                <th>院级</th>
                <th>校级</th>
            </tr>
            
            {% for groups in summary_tm %}
            <tbody id="summary_class_{{ groups.class }}">
            {% for item in groups.summary %}
                <tr>
                    <td>{{ item.0 }}</td>
                    <td>{% if item.10 > 0 %}<a href="term_reports.html?student={{ item.11 }}" data-toggle="modal" class="student-term-report-modal">{{ item.1 }}</a>{%  else %}{{ item.1 }}{%  endif %}</td>
                    <!--<td>{{ item.2 }}</td>-->
                    <td>{% if item.3 > 0 %}<span class="label label-danger">{% else %}<span>{% endif %}{{ item.3 }}</span></td>
                    <td>{% if item.4 > 0 %}<span class="label label-danger">{% else %}<span>{% endif %}{{ item.4 }}</span></td>
                    <td>{% if item.5 > 0 %}<span class="label label-danger">{% else %}<span>{% endif %}{{ item.5 }}</span></td>
                    <td>{% if item.6 > 0 %}<span class="label label-success">{% else %}<span>{% endif %}{{ item.6 }}</span></td>
                    <td>{% if item.7 > 0 %}<span class="label label-success">{% else %}<span>{% endif %}{{ item.7 }}</span></td>
                    <td>{% if item.8 > 0 %}<span class="label label-success">{% else %}<span>{% endif %}{{ item.8 }}</span></td>
                    <td>{{ item.9|floatformat:"2" }}</td>
                </tr>
            {% endfor %}
            </tbody>
            {% endfor %}
        </table>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="student_term_reports" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>
    {% else %}
    <p class="text-center text-warning">您暂时没有这个学期的数据</p>
    {% endif %}
{% else %}
{% endif %}