{% extends "base_main.html" %}

{% block BLOCK_BODY %}
<div class="page-header">
    <h2>{{ class.classname }} 创建记录</h2>
</div>
<form class="text-center" role="form" action="save_activity.html" method="post">
    {% csrf_token %}
    {% include "block_input_class_code.html" %}
    <div class="form-group">
        <label for="inputActivityName" class="sr-only">Input activity name</label>
        <input type="text" id="inputActivityName" class="form-control text-center" name="name" placeholder="请输入考勤或活动名称" required>
        <small class="text-muted">例如: "上午12节" 或者 "迎新文艺汇演" </small>
    </div>
    <div id="typeradios" class="btn-group" data-toggle="buttons">
        <label class="btn btn-default active">
            <input id="classradio" type="radio" name="type" value="class" required> 考勤
        </label>
        <label class="btn btn-default">
            <input id="activityradio" type="radio" name="type" value="activity" required> 活动
        </label>
        <label class="btn btn-default">
            <input id="disciplineradio" type="radio" name="type" value="discipline" required> 违纪
        </label>
    </div>
    <p></p>
    <div id="classtypelist" class="table-responsive text-center">
        <table class="table table-striped table-bordered table-condensed">
            <tr><th>学号</th><th>姓名</th><!--th>性别</th--><th colspan="4">考勤</th></tr>
            {% for student in students %}
            <tr>
                <td>{{ student.number }}</td>
                <td>{{ student.name }}</td>
                <!--td>{{ student.get_sex_display }}</td-->
                <td><input type="radio" name="scid_{{ student.id }}" value="present" checked> 正常</td>
                <td><input type="radio" name="scid_{{ student.id }}" value="leave"> 请假</td>
                <td><input type="radio" name="scid_{{ student.id }}" value="late"> 迟到</td>
                <td><input type="radio" name="scid_{{ student.id }}" value="absent"> 缺席</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="activitytypelist" class="table-responsive text-center">
        <table class="table table-striped table-bordered table-condensed">
            <tr><th>学号</th><th>姓名</th><!--th>性别</th--><th colspan="4">活动级别</th></tr>
            {% for student in students %}
            <tr rowspan="2">
                <td>{{ student.number }}</td>
                <td>{{ student.name }}</td>
                <!--td>{{ student.get_sex_display }}</td-->
                <td><input type="radio" name="said_{{ student.id }}" value="none" checked> 未参加</td>
                <td><input type="radio" name="said_{{ student.id }}" value="low"> 班级</td>
                <td><input type="radio" name="said_{{ student.id }}" value="mid"> 院级</td>
                <td><input type="radio" name="said_{{ student.id }}" value="high"> 校级</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="disciplinetypelist" class="table-responsive text-center">
        <table class="table table-striped table-bordered table-condensed">
            <tr><th>学号</th><th>姓名</th><th colspan="4">违纪情况</th></tr>
            {% for student in students %}
            <tr rowspan="2">
                <td>{{ student.number }}</td>
                <td>{{ student.name }}</td>
                <td><input type="radio" name="sdid_{{ student.id }}" value="none" checked> 正常</td>
                <td><input type="radio" name="sdid_{{ student.id }}" value="low"> 轻度违纪</td>
                <td><input type="radio" name="sdid_{{ student.id }}" value="mid"> 中度违纪</td>
                <td><input type="radio" name="sdid_{{ student.id }}" value="high"> 严重违纪</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button class="btn btn-primary btn-block" type="submit">提交记录</button>
    <a class="btn btn-danger btn-block" href="class.html?classcode={{ class.sharecode }}">取消</a>
</form>
{% endblock %}

{% block BLOCK_CUSTOM_JS %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#typeradios :input:first").trigger("click");
    });

    $("#typeradios :input").change(function() {
        $("#classtypelist").hide();
        $("#activitytypelist").hide();
        $("#disciplinetypelist").hide();
        $("#classtypelist :input").attr("disabled", true);
        $("#activitytypelist :input").attr("disabled", true);
        $("#disciplinetypelist :input").attr("disabled", true);

        if ($(this).val() == "class")
        {
            $("#classtypelist").show();
            $("#classtypelist :input").attr("disabled", false);
        }
        else if (($(this).val() == "activity"))
        {
            $("#activitytypelist").show();
            $("#activitytypelist :input").attr("disabled", false);
        }
        else
        {
            $("#disciplinetypelist").show();
            $("#disciplinetypelist :input").attr("disabled", false);
        }
    });
</script> 
{% endblock %}
