{% extends "base_main.html" %}

{% block BLOCK_BODY %}
    {% include "block_my_class_list.html" %}
{% endblock %}

{% block BLOCK_CUSTOM_JS %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#class_all").trigger("click");
    });

    $("#classbox0 :button").on('click', function(e){
        if ($(this).hasClass("active")){
            $(this).removeClass("btn-danger");
            $(this).removeClass("active");
            $(this).attr("aria-pressed", false);
            $("#classbox1 :button").each(function() {
                $(this).removeClass("btn-info");
                $(this).removeClass("active");
                $(this).attr("aria-pressed", false);
                $("#summary_" + $(this).attr("id")).hide();
            });
        } else {
            $(this).addClass("btn-danger");
            $(this).addClass("active");
            $(this).attr("aria-pressed", true);
            $("#classbox1 :button").each(function() {
                $(this).addClass("btn-info");
                $(this).addClass("active");
                $(this).attr("aria-pressed", true);
                $("#summary_" + $(this).attr("id")).show();
            });
        }
    });

    $("#classbox1 :button").on('click', function(e){
        if ($(this).hasClass("active")){
            $(this).removeClass("btn-info");
            $(this).removeClass("active");
            $(this).attr("aria-pressed", false);
            $("#summary_" + $(this).attr("id")).hide();
        } else {
            $(this).addClass("btn-info");
            $(this).addClass("active");
            $(this).attr("aria-pressed", true);
            $("#summary_" + $(this).attr("id")).show();
        }

        var all = true;
        $("#classbox1 :button").each(function() {
            all = all && $(this).hasClass("active");
            if (!all) { return false; }
        });

        if (all) {
            $("#class_all").addClass("btn-danger");
            $("#class_all").addClass("active");
            $("#class_all").attr("aria-pressed", true);
        } else {
            $("#class_all").removeClass("btn-danger");
            $("#class_all").removeClass("active");
            $("#class_all").attr("aria-pressed", false);
        }

    });

    // 学生学期简报对话框
    $('.student-term-report-modal').on('click', function(e){
      e.preventDefault();
      $('#student_term_reports').modal('show').load($(this).attr('href'));
    });
    
    $('#class-add').click(function(e) {
        e.preventDefault();
        bootbox.prompt("请输入新班级的名称:", function(result) {
            if (result) {
                data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'classname': result
                };
                $.post(
                    "class_add.html",
                    data,
                    function(r) {
                        location.reload()
                });
            }
        });
    });
</script> 
{% endblock %}
