{% extends "base_main.html" %}

{% block BLOCK_CUSTOM_CSS %}
    {% load static %}
    <link href="{% static "login.css" %}" rel="stylesheet">
{% endblock %}

{% block BLOCK_HEAD_BAR %}
    {# head bar area #}
{% endblock %}

{% block BLOCK_CLASS_QUICK_ACCESS %}
    {# quick access to class #}
{% endblock %}

{% block BLOCK_BODY %}
    <form class="form-signin" action="login.html" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">学生操行管理系统</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" id="username" class="form-control" name="username" placeholder="请输入用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

        <a class="btn btn-lg btn-danger btn-block" href="./">取消</a>
    </form>
{% endblock %}